<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon class="buscar-top" name="search"></ion-icon>
    </ion-buttons>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="{ 'blur' : toggle }" no-border>
  <ion-row wrap>
    <ion-col *ngFor="let d of usuarios">
      <ion-item (click)="page(d,'editar')">
        <ion-label>
          <h2>{{d.nombre}} - {{d.rol}}</h2>
          <!-- <h3 class="data">{{d.rol}}</h3> -->
          <p>{{d.telefono}}</p>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
<ion-button class="almacen-button derecho">
  <ion-icon name="barcode"></ion-icon>
</ion-button>
<ion-button class="almacen-button izquierdo" (click)="page('','crear')">
  <ion-icon name="add-circle"></ion-icon>
</ion-button>