<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row align-items-center>
      <ion-title *ngIf="!searchTest">Usuarios</ion-title>
      <ion-col align-items-center *ngIf="searchTest" no-padding size="12">
        <ion-searchbar
          #autofocus
          (ionChange)="onInput($event)"
          (ionBlur)="onBlur($event)"
          color="dark"
          show-cancel-button>
        </ion-searchbar>
      </ion-col>
      <ion-icon class="sb" *ngIf="!searchTest" (click)="click()" name="search"></ion-icon>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="{ 'blur' : toggle }" no-border>
  <ion-row>
    <ion-list-header *ngIf="usuarios['admin']">
      <ion-label>Administradores</ion-label>
    </ion-list-header>
    <ion-col *ngFor="let d of usuarios['admin']">
      <ion-item *ngIf="d.rol=='admin'" (click)="page(d,'editar')">
        <ion-label>
          <h2>{{d.nombre}}</h2>
          <p>{{d.telefono}}</p>
        </ion-label>
      </ion-item>
    </ion-col>
    
    <ion-list-header *ngIf="usuarios['proveedor']">
      <ion-label>Proveedores</ion-label>
    </ion-list-header>
    <ion-col *ngFor="let d of usuarios['proveedor']">
      <ion-item *ngIf="d.rol=='proveedor'" (click)="page(d,'editar')">
        <ion-label>
          <h2>{{d.nombre}}</h2>
          <p>{{d.telefono}}</p>
        </ion-label>
      </ion-item>
    </ion-col>

    <ion-list-header *ngIf="usuarios['cliente']">
      <ion-label>Clientes</ion-label>
    </ion-list-header>
    <ion-col *ngFor="let d of usuarios['cliente']">
      <ion-item *ngIf="d.rol=='cliente'" (click)="page(d,'editar')">
        <ion-label>
          <h2>{{d.nombre}}</h2>
          <p>{{d.telefono}}</p>
        </ion-label>
      </ion-item>
    </ion-col>

    <ion-list-header *ngIf="usuarios['empleado']">
      <ion-label>Empleados</ion-label>
    </ion-list-header>
    <ion-col *ngFor="let d of usuarios['empleado']">
      <ion-item *ngIf="d.rol=='empleado'" (click)="page(d,'editar')">
        <ion-label>
          <h2>{{d.nombre}}</h2>
          <p>{{d.telefono}}</p>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
<ion-button class="almacen-button derecho">
  <ion-icon name="barcode"></ion-icon>
</ion-button>
<ion-button class="almacen-button izquierdo" (click)="page('','crear')">
  <ion-icon name="add-circle"></ion-icon>
</ion-button>