<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Documento de {{mov}}</ion-title>
  </ion-toolbar>
  <ion-col style="padding: 0 0 0 10vw;" warp>
    <mat-form-field class="pro">
      <mat-label>{{TipoUsuario}}</mat-label>
      <input type="text" placeholder="Elija uno" aria-label="Number" matInput [formControl]="ProveedoresControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let proveedores of filteredProveedores | async" [value]="proveedores">
          {{proveedores}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </ion-col>
  <ion-col warp>
    <mat-form-field class="num2">
      <mat-label>Estado</mat-label>
      <mat-select [value]="estadoControl.value" (selectionChange)="onClick()" [formControl]="estadoControl">
        <mat-option value="pagado">Pagado</mat-option>
        <mat-option value="pendiente">Pendiente</mat-option>
        <mat-option value="anulado">Anulado</mat-option>
      </mat-select>
    </mat-form-field>
  </ion-col>
  <ion-col style="padding: 0 0 0 10vw;" warp>
    <mat-form-field class="pro">
      <mat-label>Productos</mat-label>
      <input type="text" aria-label="Number" matInput [formControl]="ProductoControl" [matAutocomplete]="auto2">
      <mat-autocomplete #auto2="matAutocomplete">
        <mat-option *ngFor="let productos of filteredProductos | async" [value]="productos">
          {{productos}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </ion-col>
  <ion-col warp>
    <mat-form-field class="num2">
      <input matInput [formControl]="CantidadControl" #cantidad maxlength="5" placeholder="Cantidad">
    </mat-form-field>
  </ion-col>
  <ion-col style="padding: 0 0 0 10vw;" warp>
    <mat-form-field class="num2">
      <input matInput [formControl]="costoControl" #costo maxlength="7" placeholder="Costo">
    </mat-form-field>
  </ion-col>
  <ion-col warp>
    <mat-form-field class="pro">
      <mat-label>Bodegas</mat-label>
      <input type="text" aria-label="Number" matInput [formControl]="BodegasControl" [matAutocomplete]="auto3">
      <mat-autocomplete #auto3="matAutocomplete">
        <mat-option *ngFor="let Bodegas of filteredBodegas | async" [value]="Bodegas">
          {{Bodegas}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </ion-col>
  <ion-title class="titulo">Items: {{listaProductos.length | number}} - Unids: {{total['unid'] | number}}</ion-title>
  <ion-title class="titulo">Total: $ {{total['costo'] | number}}</ion-title>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button *ngIf="!disabledfab && (accion != 'editar')" [disabled]=disabled class="add" (click)="addProducto()">
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button 
    *ngIf="disabledfab && (accion == 'editar') && (database.Documentos[DocPushID].estado == 'pendiente')" 
    [disabled]=!disabled class="abono" (click)="abono()">
      <i class="material-icons">monetization_on</i>
    </ion-fab-button>
  </ion-fab>
</ion-header>

<ion-content class = "ion-padding" no-border>
  <!-- listaProductos -->
  <div class="ion-padding" *ngIf="listaProductos">
    <ion-item-sliding *ngFor="let d of listaProductos">
      <ion-item>
        <ion-col size="7">
          <ion-item>
            <ion-label>
              <h2 class="nombre">{{d.nombre}}</h2>
              <p class="costo">$ {{d.costo | number}}</p>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="5">
          <ion-item>
            <ion-label>
              <h2 class="unid">Unidades</h2>
              <p class="cant">{{d.cantidad | number}}</p>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-item>

      <!-- <ion-item-options side="start">
        <ion-item-option (click)="editar(d)">Editar</ion-item-option>
      </ion-item-options> -->

      <ion-item-options side="end">
        <ion-item-option
        [disabled] = disabled
        color="danger"
        (click)="borrar(d)">Borrar</ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </div>
</ion-content>

<ion-button
*ngIf="!disabledfab && (accion != 'editar')"
[disabled] = disabledfab
class = "almacen-button derecho"
(click) = "creaDocumento()">
  <ion-icon name = "checkbox"></ion-icon>
</ion-button>