form{
    text-align: center;
}
.num{
    width: 40vw !important;
}
.num2{
    width: 28vw !important;
}
.pro{
    width: 52vw !important;
}
mat-form-field{
    width: 80vw;
}
.add{
    --background: var(--selected);
    --background-hover: #FF9800;
    ion-icon{
        color: var(--items);
        font-size: 2.5em;
    }
}
.titulo{
    margin: 0 0 0.5em 1em;
    font-size: 5.6vw;
    transform: scaleY(1.2);
    letter-spacing: 0.175ch;
    font-weight: 100;
}
.cant,.costo{
    font-size: 6vw;
    line-height: inherit;
}
.unid,.nombre{
    font-size: 4vw;
    text-transform: capitalize;
    white-space: pre-wrap;
}
ion-item{
    --background: #1e3246 !important;
    --border-color: transparent !important;
    ion-col{
        padding: 0;
        width: -webkit-fill-available !important;
        max-width: -webkit-fill-available !important;
        flex: 0 0 55vw !important;
        margin: 0px 0em 0px -1em;
    }
    // margin: -3px 0 5px 0;
}
.item-options-end ion-item-option:last-child,.item-options-start ion-item-option:first-child{
    margin: -3px 0 5px 0;
    background: var(--selected);
    color: var(--items);
    font-weight: bold;
}
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media (min-width: 412px) { // vista web
    .titulo{
        font-size: 1.7ch;
    }
    .unid,.nombre{
        font-size: 1.7ch;
    }
    .cant,.costo{
        font-size: 1.7ch;
    }
}