form{
    text-align: center;
}
mat-form-field{
    width: 80vw;
}
.add{
    --background: var(--selected);
    --background-hover: #FF9800;
    ion-icon{
        color: var(--items);
        font-size: 2.5em;
    }
}
.titulo{
    margin: 0 0 0.5em 1em;
}
.cant,.precio{
    font-size: 4vh;
    text-align: center;
}
.unid,.nombre{
    font-size: 3.4vw;
    text-transform: capitalize;
}
ion-item{
    --background: transparent !important;
    --border-color: transparent !important;
}
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}