<ion-tabs>

  <ion-fab slot="bottom" class="custom-fab">
    <ion-fab-button class="fab" (ionBlur)="blur()" (click)="click()">
        <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="click()"><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list style="top: -2em;" side="start">
      <ion-fab-button (click)="click()"><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list style="top: -2em;" side="end">
      <ion-fab-button (click)="click()"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  
  <ion-tab-bar slot="bottom" no-border>

    <ion-tab-button class="tab1" tab="tab1">
      <ion-icon name="apps"></ion-icon>
      <!-- <ion-label>Tab One</ion-label> -->
    </ion-tab-button>

    <ion-tab-button class="tab2" >
      <!-- <ion-icon name="analytics"></ion-icon> -->
      <!-- <ion-label>Tab Two</ion-label> -->
    </ion-tab-button>

    <ion-tab-button class="tab3" >
      <!-- <ion-icon name="analytics"></ion-icon> -->
      <!-- <ion-label>Tab Two</ion-label> -->
    </ion-tab-button>

    <ion-tab-button class="tab4" >
      <!-- <ion-icon name="analytics"></ion-icon> -->
      <!-- <ion-label>Tab Two</ion-label> -->
    </ion-tab-button>

    <ion-tab-button class="tab5" tab="tab3">
      <ion-icon name="send"></ion-icon>
      <!-- <ion-label>Tab Three</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
