<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon class="buscar-top" name="search"></ion-icon>
    </ion-buttons>
    <ion-title>
      Resumen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-form-field>
    <mat-label>Tipo de resumen</mat-label>
    <mat-select matNativeControl required>
      <mat-option value="volvo">Genearl por fecha</mat-option>
      <mat-option value="saab">Por bodega</mat-option>
      <mat-option value="mercedes">Por empleado</mat-option>
      <mat-option value="audi">Por proveedor</mat-option>
      <mat-option value="audi">Por cliente</mat-option>
    </mat-select>
  </mat-form-field>
</ion-content>
