<ion-tabs>

  <ion-fab slot="bottom" class="custom-fab">
    <ion-fab-button class="fab" (click)="click(undefined)">
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
    <ion-fab-list style="top: -2em;" side="start" (click)="click('ingresos')">
      <ion-fab-button>
        <ion-icon class="start" name="add-circle">
      </ion-icon></ion-fab-button>
      <ion-label>Ingresos</ion-label>
    </ion-fab-list>
    <ion-fab-list side="top" (click)="click('salidas')">
      <ion-fab-button>
        <ion-icon class="top" name="card"></ion-icon>
      </ion-fab-button>
      <ion-label>Salida</ion-label>
    </ion-fab-list>
    <ion-fab-list style="top: -2em;" side="end" (click)="click('movimientos')">
      <ion-fab-button>
        <ion-icon class="end" name="git-branch">
      </ion-icon></ion-fab-button>
      <ion-label>Movimiento</ion-label>
    </ion-fab-list>
  </ion-fab>
  
  <ion-tab-bar slot="bottom" no-border>

    <ion-tab-button class="Dashboard" tab="Dashboard">
      <ion-icon name="pie"></ion-icon>
      <!-- <ion-label>Tab One</ion-label> -->
    </ion-tab-button>

    <ion-tab-button class="inventario" tab="inventario">
      <ion-icon name="stats"></ion-icon>
      <!-- <ion-label>Tab Two</ion-label> -->
    </ion-tab-button>

    <ion-tab-button class="tab3" >
      <!-- <ion-icon name="analytics"></ion-icon> -->
      <!-- <ion-label>Tab Two</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="resumen">
      <ion-icon name="analytics"></ion-icon>
      <!-- <ion-label>Tab Two</ion-label> -->
    </ion-tab-button>

    <ion-tab-button class="barcode">
      <ion-icon name="barcode"></ion-icon>
      <!-- <ion-label>Tab Three</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
