span{
    color: var(--selected);
    // font-weight: bold;
    font-size: 1.86ch;
}
.welcome-card{
    margin: 0.75ch;
}
.col-card{
    width: 100%;
    flex: 0 0 auto;
}
.mov-t{
    display: block;
    font-size: 1.86ch;
    margin: 0.5ch 0 0.5ch 0;
}
.mov{
    display: block;
    // font-family: 'Tajawal', sans-serif;
    font-size: large;
    margin: 0.5ch 0 0 0;
    width: 130%;
}
.data{
    display: block;
    font-size: 2.4ch;
    margin: 0.5ch 0 0 0;
    // font-family: "Eczar", serif;
    -webkit-transform: scaleY(1.2);
    transform: scaleY(1.2);
    letter-spacing: 0.175ch;
}
.icon-card{
    display: block;
    float: right;
    margin: 50% 0 0 0;
}
.icono .material-icons{
    font-size: 4em !important;
    color: var(--selected);
}
.pagado{
    color: var(--success) !important;
}
.pendiente{
    color: var(--selected) !important;
}
.anulado{
    color: var(--danger) !important;
}
.subtitulo{
    padding: 0 0 1ch 2ch;
    font-size: 1.62ch;
}
@media (min-width: 412px) {
    .icon-card{
        margin: 3.25vh 0 0 0;
    }
}
@media (min-width: 460px) {
    .icon-card{
        margin: 2vh 0 0 0;
    }
}
@media (min-width: 640px) {
    .col-card{
        width: 50%;
    }
    .icon-card{
        margin: 1vh 0 0 0;
    }
}
ion-fab{
    z-index: 9;
}