
<ion-card class="welcome-card" (click)="page(data)">
  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <ion-card-title class="mov-t"> {{date | date:'EEE, MMM d, y, h:mm a':undefined:locale }} </ion-card-title>
        <span [class.anulado]="estado=='Anulado'" [class.pagado]="estado=='Pagado'" [class.pendiente]="estado=='Pendiente'">{{estado}}</span>
        <ion-card-subtitle class="mov">{{nombre}}</ion-card-subtitle>
        <ion-card-title class="data" [class.anulado]="estado=='Anulado'" [class.pagado]="estado=='Pagado'" [class.pendiente]="estado=='Pendiente'">$ {{data.valor | number}}</ion-card-title>
      </ion-col>
      <ion-col size="2"> 
        <ion-card-title class="icon-card">
          <ion-label id="nav-2" class="icono">
            <i class="material-icons" [class.anulado]="estado=='Anulado'" [class.pagado]="estado=='Pagado'" [class.pendiente]="estado=='Pendiente'">{{icono}}</i>
          </ion-label>
        </ion-card-title>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<!-- <ion-row wrap>
  <ion-col *ngFor="let d of data">
    <ion-item (click)="page(d)">
      <ion-thumbnail class="imagen" slot="start">
        <ion-img src="{{d.imagen}}"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <p>{{d.tipo}}</p>
        <h2>{{d.nombre}}</h2>
        <h3 class="data">{{d.precio}}</h3>
      </ion-label>
    </ion-item>
  </ion-col>
</ion-row> -->