.welcome-card{
  margin: 0.75ch;
}
.col-card{
  padding: 0;
}
.dashboard{
  display: block;
  // position: absolute;
  right: 0;
  bottom: 13px;
}
.mov{
  display: block;
  font-size: 1.7125ch;
  margin: 0.5ch 0 0 0;
  width: 130%;
}
.data{
  display: block;
  font-weight: bold;
  font-size: 2.125ch;
  margin: 0.7ch 0 0 0;
}
.icon-card{
  display: block;
  float: right;
  margin: 1ch 0 0 0;
}
