<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon class="buscar-top" name="search"></ion-icon>
    </ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="{ 'blur' : toggle }" class="ion-padding" no-border>
  <ion-list>
    <producto [data]=data></producto>
  </ion-list>
</ion-content>
<ion-button class="almacen-button derecho">
  <ion-icon name="barcode"></ion-icon>
</ion-button>
<!-- <ion-button class="almacen-button izquierdo" (click)="page('create-producto')">
  <ion-icon name="add-circle"></ion-icon>
</ion-button> -->
<ion-fab horizontal="start" vertical="bottom" slot="fixed">
  <ion-fab-button class="almacen-button fab izquierdo" (click)="page()">
    <ion-icon name="add-circle"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button class="fab-button" color="light" (click)="page('create-producto')">
      <ion-icon class="fab-icon" name="cube"></ion-icon>
    </ion-fab-button>
    <ion-label class="label uno" (click)="page('create-producto')">Crear producto</ion-label>
    <ion-fab-button class="fab-button" color="light" (click)="page()">
      <ion-icon class="fab-icon" name="albums"></ion-icon>
    </ion-fab-button>
    <ion-label class="label dos" (click)="page()">Crear tipo</ion-label>
  </ion-fab-list>
</ion-fab>