<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon class="buscar-top" name="search"></ion-icon>
    </ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="{ 'blur' : toggle }" class="ion-padding" no-border>
  <!-- <ion-list>
    <producto></producto>
  </ion-list> -->
  <ion-row wrap>
    <ion-col *ngFor="let d of data">
      <producto
        [precio]="d.precio"
        [tipo]="d.tipo"
        [nombre]="d.nombre"
      ></producto>
    </ion-col>
  </ion-row>
</ion-content>
<ion-button class="almacen-button barcode">
  <ion-icon name="barcode"></ion-icon>
</ion-button>
<ion-button class="almacen-button ingreso">
  <ion-icon name="add-circle"></ion-icon>
</ion-button>
