.imagen{
    width: 114px;
    height: 114px;
    margin: 0px 1em 0 -1em;
}
ion-label{
    margin: 5px;
}
ion-item {
    border-radius: 0.35em;
    --background: var(--items) !important;
    box-shadow: 0px -1px 0px 0px #9E9E9E;
}
h2{
    white-space: normal;
}
.data{
    display: block;
    font-size: 2ch;
    margin: 1ch 0 0 0;
}