<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon class="buscar-top" name="search"></ion-icon>
    </ion-buttons>
    <ion-title>Movimientos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="{ 'blur' : toggle }" no-border>
</ion-content>
<ion-button class="almacen-button barcode">
  <ion-icon name="barcode"></ion-icon>
</ion-button>
<ion-button class="almacen-button ingreso">
  <ion-icon name="add-circle"></ion-icon>
</ion-button>
