/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* ---- Fonts ----------------------- */
@import url('https://fonts.googleapis.com/css?family=Eczar|Tajawal|Varela&display=swap');
$Numeros: 'Eczar', serif;
$Textos: 'Varela', sans-serif;
// font-family: 'Tajawal', sans-serif;
// font-family: 'Varela', sans-serif;
// font-family: 'Eczar', serif;
/* ---------------------------------- */
.ion-page{
    background: linear-gradient(0deg, rgba(20,30,40,1) 0%, rgba(30,50,70,1) 100%) !important;
}
app-tabs {
    background: linear-gradient(0deg, rgba(20,30,40,1) 0%, rgba(30,50,70,1) 100%) !important;
}
.split-pane-md{
    --border: none !important;
}
.buscar-top{
    font-size: 1.65em;
    margin: 0 0.35em 0 0;
    // color: #b4b4c8;
}
ion-menu{
    --background: linear-gradient(0deg, rgba(20,30,40,1) 0%, rgba(30,50,70,1) 100%) !important;
}
ion-header{
    background: transparent !important;
    color: white;
}
ion-toolbar{
    --background: transparent !important;
    color: white;
}
ion-content{
    // font-family: $Textos;
    --background: transparent !important;
    color: white;
}
ion-tab-bar{
    --background: transparent !important;//#3c5064 !important;
    color: white;
}
.tab-selected{
    color: var(--selected) !important;
}
ion-card{
    --background: var(--items) !important;
}
ion-item{
    --background: var(--items) !important;
}
ion-list{
    background: transparent !important;
    color: white;
}
// --- Fabs -----------------
    .almacen-button{
        position: absolute;
        z-index: 99;
        bottom: 0px;
        margin: 0;
        padding: 0;
        width: 66px;
        height: 56px;
        --background: var(--selected);
        ion-icon{
            color: var(--items);
            font-size: 2.5em;
            margin: 7px -5px 0 0;
        }
    }
    .almacen-button.fab.izquierdo{
        margin: 0 0 -10px -10px;
    }
    .almacen-button.derecho{
        right: 0;
        --border-radius: 2.6em 0 0;
    }
    .almacen-button.izquierdo{
        left: 0;
        --border-radius: 0 2.6em 0 0;
    }
    .label{
        position: absolute;
        color: white;
        left: 4em;
        width: 10em;
    }
    .label.uno{
        bottom: 1em;
    }
    .label.dos{
        bottom: 4em;
    }
    .fab-icon{
        color: var(--selected);
        font-size: x-large;
    }
    .custom-fab {
        bottom: 28px;
        right: 48%;
    }
    .blur {
        opacity: 0.2;
        filter: blur(5px);
        -webkit-filter: blur(5px);
        transition: -webkit-filter 10ms linear;
    }
    .fab{
        --background: var(--selected) !important;
        --color: var(--items) !important;
        --background-activated: var(--background);
        --background-focused: var(--background-activated);
        --color-activated: var(--items) !important;
        --color-focused: var(--items) !important;
        --background-hover: var(--selected);
    }
    .fab-button-close-active{
        --box-shadow: 0 3px 5px -1px #F44336,0 6px 10px 0 rgba(0,0,0,0.14),0 1px 18px 0 var(--selected);
    }
    @media (max-width: 412px) {
        .custom-fab {
            right: 42%;
        }
    }
// --------------------------
