<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon class="buscar-top" name="search"></ion-icon>
    </ion-buttons>
    <ion-title>Crear producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" no-border>
  <form [formGroup]="newProductoForm" padding-right>
    <ion-img *ngIf="ds.plataforma.cordova" (click)="camara()" [src]="newProductoForm.value.imagen"></ion-img>
    <label *ngIf="ds.plataforma.desktop">
      <input type="file" style="display: none;" class="button" (change)="onFile($event)">
      <img class="user-image" src="{{newProductoForm.value.imagen}}">
    </label>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input type="text" formControlName="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Tipo</ion-label>
      <ion-select formControlName="tipo" placeholder="Seleccionar tipo">
        <ion-select-option value="producto">Producto</ion-select-option>
        <ion-select-option value="mueble">Mueble</ion-select-option>
        <ion-select-option value="consumible">Consumible</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Precio de venta</ion-label>
      <ion-input type="Number" formControlName="precio"></ion-input>
    </ion-item>
    
    <ion-row>
      
      <ion-button
      class="almacen-button izquierdo"
      (click)="navCtrl.pop()">
        <ion-icon name="remove-circle"></ion-icon>
      </ion-button>

      <ion-button *ngIf="accion == 'crear'"
      class="almacen-button derecho"
      [disabled]="!newProductoForm.valid"
      (click)="creaProducto()">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>

    </ion-row>
    
  </form>
</ion-content>